$main-color: #63d1bb;
$main-color-dark: #149080;
$main-color-alternative: #59d5bc;

$black: #000000;
$gray-dark-color: #444444;
$white: #ffffff;

$main-font-family: OpenSans, Arial, Helvetica, sans-serif;
