$main-color: #63d1bb;
$main-color-dark: #149080;
$main-color-alternative: #59d5bc;
$main-color-alternative-2: #56c3b2;

$main-font-color: #46c1ae;

$black: #000000;
$gray-dark-color: #444444;
$gray-light-color: #ececec;
$white: #ffffff;

$main-font-family: OpenSans, Arial, Helvetica, sans-serif;
