/*
Card

Markup:

<li class="card catalog__item">
  <div class="card__cover">
    <picture>
      <source
        media="(min-width: 1150px)"
        srcset="images/photo-1-desktop.jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="images/photo-1-tablet.jpg"
      />
      <img
        class="card__image"
        src="images/photo-1-mobile.jpg"
        alt="Пример"
      />
    </picture>
  </div>
  <div class="card__body">
    <h3 class="card__title">Зайчик-попрыгайчик</h3>
    <p class="card__description">Рост 30 см, вес 200 г</p>
    <div class="card__price">
      1200 рублей
      <button type="button" class="card__cta">
        <svg height="19" width="20">
          <use xlink:href="#icon-cart"></use>
        </svg>
      </button>
    </div>
  </div>
</li>

*/

.card {
  display: flex;
  flex-direction: column;
  width: 260px;
  border: 1px solid $gray-light-color;

  &:hover {
    box-shadow: 0 6px 10px rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($black, 0.1);
  }

  @media (min-width: 768px) {
    flex-direction: row;
    width: 100%;
  }

  @media (min-width: 1150px) {
    flex-direction: column;
    width: 316px;
  }

  &__cover {
    position: relative;
    width: 100%;
    height: 195px;
    margin: 0;
    padding: 0;
    overflow: hidden;

    @media (min-width: 768px) {
      width: 334px;
      height: 334px;
    }

    @media (min-width: 1150px) {
      width: 100%;
      height: 462px;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;

    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 26px 28px;
    min-height: 177px;
    border: 1px solid $gray-light-color;

    @media (min-width: 1150px) {
      min-height: 195px;
    }
  }

  &__title {
    margin-top: 0;
    // margin-bottom: 0.41176471em;
    margin-bottom: 5px;
    font-size: 1.133333333rem;
    line-height: 1.41176471;
    font-weight: bold;

    @media (min-width: 768px) {
      font-size: 1.33333333rem;
      line-height: 1.2;
    }

    &:hover {
      color: rgba($black, 0.6);
    }

    &:active {
      color: rgba($black, 0.3);
    }
  }

  &__description {
    margin: 0 0 5px;
    font-size: 0.8666666667rem;
    line-height: 2.307692307;
    color: $gray-dark-color;
  }

  &__price {
    margin-top: auto;
    padding-top: 22px;

    font-size: 1rem;
    line-height: 1.6;
    font-weight: bold;

    border-top: 1px solid $gray-light-color;
  }

  &__cta {
    float: right;
    width: 20px;
    height: 19px;
    margin-left: auto;
    padding: 0;

    color: rgba($black, 0.2);

    background: none;
    border: none;
  }
}
