@import "./normalize.scss";
@import "./fonts.scss";

@import "./utils/variables.scss";

@import "./global.scss";

// BEM Blocks

@import "./blocks//backgroundItem.scss";
@import "./blocks/iconHightlight.scss";
@import "./blocks//logo.scss";
@import "./blocks/heading.scss";
@import "./blocks/link.scss";
@import "./blocks/attractiveMenu.scss";
@import "./blocks/button.scss";
@import "./blocks/card.scss";
@import "./blocks/videoPlayer.scss";
@import "./blocks//media.scss";
