@import "./normalize.scss";
@import "./fonts.scss";

@import "./utils/variables.scss";

@import "./global.scss";

// BEM Blocks

@import "./blocks//logo.scss";
@import "./blocks/heading.scss";
@import "./blocks/link.scss";
@import "./blocks/attractiveMenu.scss";
